<%= form_tag sessions_path, :class => 'form-horizontal ' do |f| %>
  <div  id="imgsesion">
    <h2>Login </h2>
    <div class="input-append" id="registration">
      <div class="field control-group" >
        <br>
        <label class="control-label" for="inputEmail">Nombre de Usuario</label>
        <div class ="controls">
         <%= text_field_tag :username, params[:username] %>
         <span class="add-on"><i class="icon-user"></i></span>
        </div>
      </div>
      <div class="field control-group">
        <label class="control-label" for="inputEmail">Clave</label>
        <div class ="controls">
          <%= password_field_tag :password %>
          <span class="add-on"><i class="icon-lock"></i></span>
        </div>
      </div>
      <div class="field control-group">
        <label class="control-label" for="inputEmail">Recordar</label>
        <div class ="controls">
          <%= check_box_tag :remember_me, 1, params[:remember_me] %>
        </div>
      </div>
      <div class="control-group offset3"><%= submit_tag "Ingresar" %></div>
    </div>
  </div>  
<% end %>


