<%- model_class = Acta -%>

<h1><%=t '.title', :default => model_class.model_name.human %></h1>


<div class="responsive">
  <div class="modal-body">
    <div class='row' id='colors'>
      <div class='acta'>
        <div class="span5">
          <br><br>
          <hr>
          <p class="text-info">Fecha: </p>
          <p><%= @acta.fecha %></p>
          <p class="text-info">Hora Incio: </p>
          <p><%= @acta.hora_inicio %></p>
          <p class="text-info">Hora Terminación: </p>
          <p><%= @acta.hora_terminacion %></p>
        </div>
        
        <div class="span2">
          <div class="row">
          </div>
        </div>
        
        <br><br>
        <hr>
        <div class="span2">
          <div class="row">
            <p class="text-info">Objetivo Reunión:  </p>
            <p><%= @acta.objetivo_de_la_reunion %></p>
            <p class="text-info">Desarrollo Reunión: </p>
            <p><%= @acta.desarrollo_reunion %></p>
            <p class="text-info">Conclusiones </p>
            <p><%= @acta.conclusiones %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
