<!DOCTYPE html>
<html lang="es">
	<head>
			<meta chartset="utf-8"/>
			<title>SCQ - Sistema Centralizado de Quejas</title>
	</head>
	<body>

		<p>Señor(a) Coordinador(a) <%= @coordinador.nombre %> El instructor <%= @userqueja.nombre %> a presentado la siguiente queja: 
		</p>

		<p><%= image_tag attachments['logo-sena.png'].url -%></p><h4>CENTRO DE FORMACIÓN EN DISEÑO, CONFECCIÓN Y MODA, FORMATO DE INFORME O QUEJA</h4>
		<table align="center" border="4">
			<tr>
				<td colspan="6">
					 Fecha del informe:  <%= @queja.fechainforme %>
				</td>

			</tr>
			<tr>
				<td>
					Nombre: <%= @queja.nombres %> <%= @queja.apellidos %>  -<%= @queja.tipo_documento.sigla%>  <%= @queja.identificacion %>  
					<br>
					<br>
					Telefono <%= @queja.telefono %>
					<br>
					<br>
					Programma <%= @queja.programa.abreviatura %>
					<br>
					<br>
					N° Ficha <%= @queja.ficha %>
				</td>
			</tr>
			<tr>
				<td>
					Tipo de falta:  <%= @queja.falta %>
					<br>
					<br>
					Descripcion Detalllada:
					<br>
					<%= @queja.descripcion %>
				</td>
			</tr>
			<tr>
				<td>
					Testigos o pruebas que se aportan:
					<br>
					<br>
					<%= @queja.testigos %>
				</td>
			</tr>
			<tr>
				<td>
					Nombre y dirección de quien informa: (Servidor Publico,Aprendiz,contratista,o cualquier
	                persona que tenga conocimiento de los Hechos)
	                <br>
	                <br>
	                <%= @queja.nombreinfor %>

	            </td>
			</tr>

		</table>
		<p>Mensaje enviado por la aplicación  S.C.M <%= image_tag attachments['scm.png'].url, :width => "150x100" -%> </p>
	</body>
</html>