<%- model_class = Queja -%>
<div class="buscador">
  <div class="row-fluid">
    <div class="row-fluid">
      <div class="span6">
        <%= form_tag request.path,:class=>"form-search", :method => 'get' do %>
          <%= content_tag :label do %>
            <br/>
            <h2>Buscador</h2>
            <div class="input-append" id='efecto1'>
              <%= text_field_tag :search, params[:search],:class=>"input-medium search-query search"  %>
              <%= submit_tag "Buscar", :nombres => nil, :class=>"btn btn-info disable"%>
            </div>
          <% end %>
        <% end %>

        <div class="span6">
            <br>
            <br>
            <br>
            <br>
        </div>
      </div>
      <div class=" colorp"> 
        <h2>Quejas</h2>
          <p>
            Estado de Espera: <%= @estadoquejas.count %>
          </p>

          <p> 
          Quejas Remitidas a Comite: <%=  "#{@estadoencomite.count}" %>
          </p>

          <p>
          Quejas en correccion: <%= "#{@quejacorreccion.count }"%>
          </p>

      </div>
    </div>
  </div>
</div>
<br>
<table  class="table table-bordered table-condensed table-hover pretty">
  <thead>
    <tr>
      <th><%= sortable "id", "N°Queja"%></th>
      <th><%= sortable "created_at", "Fecha"%></th>
      <th><%= sortable "nombres" %></th>
      <th><%= sortable "apellidos" %></th>
      <th><%= sortable "programa_id", "Programa" %></th>
      <th><%= sortable "Ficha" %></th>
      <th><%= sortable "falta" %></th>
      <th><%= sortable "estado_id", "Estado" %></th> 
		  <th>Acciones</th>
    </tr>
  </thead>
  <tbody class="hero-unit">
    <%= render @quejas %>
  </tbody>
</table>

<%= link_to 'Nueva Queja', new_queja_path, :class => 'btn btn-primary', :remote => true %>

<div align="center">
  <%= will_paginate @quejas, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
  &raquo;' %>
</div>

