<div id="bod">
	<div class="responsibe">
		<div class="container">
		    <div class="header">
		        <div class="clr"></div>
		    </div>
		    <h1>Panel Administrativo </h1>
		    <div id="cont">
		        <ul class="bmenu">
		            <li><%= link_to "Programación Comite", asignacioncomites_path %></li>
		            <li><%= link_to "Centros", centros_path %></li>
		            <li><%= link_to "Tipos de Documentos", tipos_documentos_path %></li>
		            <li><%= link_to "Instructores", instructores_path %></li>
		            <li><%= link_to "Configuracio Formato PDF Cancelacion de Matricula", configuraciones_path %></li>
		            <li><%= link_to "Miembros Comites", committees_members_path %></li>
		        </ul>
		    </div>
		</div>
	</div>
</div>

