<tr id=<%= "user_#{user.id}" %>>
  <td><%= user.nombre %></td>
  <td><%= user.username %></td>
  <td><%= user.email %></td>
  <td><%=l user.created_at %></td>
  <td>
    <%= link_to 'Mostrar', user, :remote => true, :class => 'btn btn-mini ' %>
    <%= link_to 'Editar', edit_user_path(user), :remote => true,
        :class => 'btn btn-warning btn btn-mini' %>
  </td>
</tr>
