<%= simple_form_for @aprendiz, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :tipo_documento_id %>
  <%= f.input :num_document %>
  <%= f.input :programa_id %>
  <%= f.input :ficha %>
  <%= f.input :historia_id %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                aprendices_path, :class => 'btn' %>
  </div>
<% end %>
