<%= javascript_include_tag "fecha.js" %>
<%= form_tag crear_acta_path, :method => 'post' do %>
  <%= content_tag :label do %>
    <div class="responsive">
      <div class="modal-body">  
        <div class="control-group">
          <div class="row hero-unit" >
            <div class= "span9"> 
              <center><h4></h4></center>
              <hr>
              <div class ="control-group span4">
                <label class="control-label" for="inputName">Hora Inicio</label>
                <div class="controls" >
                  <div class =" input-append bootstrap-timepicker ">
                    <%= text_field_tag :hora_inicio, params[:hora_inicio],:as => :string, :class => "time_picker input-small", :id=>'efecto1'%>
                    <span class="add-on"><i class="icon-time"></i></span>
                  </div>
                </div>
              </div>
              <div class ="control-group span4">
                <label class="control-label" for="inputName">Hora de Finalizacion</label>
                <div class="controls" >
                  <div class =" input-append bootstrap-timepicker">
                    <%= text_field_tag :hora_terminacion, params[:hora_terminacion], :as => :string, :class => "time_picker input-small", :id=>'efecto1'%>
                    <span class="add-on"><i class="icon-time"></i></span>
                  </div>
                </div>
              </div>
              <div class ="control-group span4">
                <label class="control-label" for="inputName">Subdirector</label>
                <div class="controls" >
                  <div class =" input-append">
                   <%= text_field_tag :subdirector, params[:subdirector], :value => 'León Arturo Otero Botero', :id=>'efecto1'%>
                  </div>
                </div>
              </div>
            </div>
            <center><h4></h4></center>
            <hr>
            <div class="span9">
              <label class="control-label" for="inputName">objetivo</label>
              <%= text_area_tag :objetivo_de_la_reunion, params[:objetivo_de_la_reunion], :rows => 7, :class => "span11" %>
            </div>
            <div class="span9">
              <label class="control-label" for="inputName">Desarrollo</label>
              <%= text_area_tag :desarrollo_reunion, params[:desarrollo_reunion], :rows => 7, :class => "span11"%>
            </div>
            <div class="span9">
              <label class="control-label" for="inputName">Concluciones</label>
              <%= text_area_tag :conclusiones,params[:conclusiones], :rows => 7, :class => "span11" %>
            </div>

            <div class="span9">
              <label>llamado de atencion</label>
              <%= check_box_tag 'tos', 'yes', false, :class => 'check_box'%>
            </div>

            <div class="span9 llamado_oculto">
              <label class="control-label" for="inputName">objetivo</label>
              <%= text_area_tag :llamado_de_atencion, "LLAMADO DE ATENCIÓN Y PLAN DE MEJORAMIENTO, a cargo de", :rows => 7, :class => "span11" %>
            </div>
          </div>
          
          <% @comite_id = params[:comite_id]%>
          <input name="comite_id" id="comite_id" type="hidden" value="<%= @comite_id %>">
          <div class= "span12">
            <div class="form-actions">
               <%= submit_tag "Guardar",:class => "btn btn-success",   :id=>'efecto1' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
