<%= javascript_include_tag "userscomite.js" %>
<div>
	<div class="responsive">
		<div class="modal-body">

			<h1>Ingresar los Usuarios para el comite</h1>


			 <%= form_tag asignar_userc_path, :method => 'get' do %>
			    <%= content_tag :label do %>
				   
			            <div class="row">
						    <div class="span7">
						    	<div class="row">
								    <div class ="control-group span4">
						                <label class="control-label">Seleccione a los Miembros para el Comite</label>
							            <div class="controls userc" >
							                <%= collection_select :committeemember, :id, CommitteeMembers.all, :id, :name, :prompt => "Seleccionar" %>
							            </div>
						            </div> 
						            <div class ="control-group span3">
						                <label class="control-label">Selecione a los instructores para el Comite</label>
							            <div class="controls instructor" >
							                <%= collection_select :usercomite, :id, Instructor.all, :id, :nombres, :prompt => "Seleccione un Instructor" %>
							            </div>
						            </div> 
						        </div>
							    <div class="row">
							      <div class="span4">
							      	<textarea name="names" id="names" rows="7" spellcheck="false"></textarea>
							      </div>
							      <div class="span3">
							      	<textarea name="emails" id="emails" rows="7" spellcheck="false"></textarea>
							      </div>
							    </div>
						    </div>
						</div>
				        
				       

			        		<% @fcomite_id = params[:fcomite_id]%>
			        		<% hidden_field_tag :fcomite_id, params[:fcomite_id] %>
			        		<% hidden_field_tag :comite_id, params[:comite_id] %>
					        <input name="fcomite_id" type="hidden" value="<%= @fcomite_id %>">
					        <% @comite_id = params[:comite_id]%>
					        <input name="comite_id" type="hidden" value="<%= @comite_id %>">
				        
			       
			    <% end %>
			    <%= submit_tag "Asignar", :class => "btn btn-success ", :id=>'efecto1'  %>
			<% end %>
		</div>
	</div>
</div>