<tr id=<%= "instructor_#{instructor.id}" %>>
  
  <td><%= instructor.id %></td>
  <td><%= instructor.nombres %></td>
  <td><%= instructor.apellidos %></td>
  <td><%= instructor.cedula %></td>
  <td><%= instructor.email%></td>
  <td><%= instructor.telefono %></td>
  <td>
    
    <%= link_to 'Mostrar', instructor, :remote => true, :class => 'btn btn-mini btn-info' %>
    <% if has_role == "admin" %>
      <%= link_to 'Editar', edit_instructor_path(instructor), :remote => true,
        :class => 'btn btn-mini btn-warning' %>
      <%= link_to 'Eliminar', instructor, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
    <% end %>
  </td>
</tr>
