<tr id=<%= "asignacioncomite_#{asignacioncomite.id}" %>>
  <td><%= link_to asignacioncomite.id, edit_asignacioncomite_path(asignacioncomite), :remote => true %></td>
  <td><%= asignacioncomite.nombres %></td>
  <td><%= asignacioncomite.apellidos %></td>
  <td><%= asignacioncomite.programa.abreviatura %></td>
  <td><%= asignacioncomite.ficha %></td>

  <td>
    <% if asignacioncomite.estado_id == 4 %>
      <%= image_tag('espera.png', :title => 'en espera', :width => "30x30") %>
    <% elsif  asignacioncomite.estado_id == 5 %>
      <%= image_tag("comite.jpg",:title => 'en comite', :width => "30x30") %> 
    <% end %>
  </td>
  <td><%= asignacioncomite.created_at %></td>
  <td>
    <%= link_to 'Mostrar', asignacioncomite, :remote => true, :class => 'btn btn-mini ' %>
    <% if has_role == "admin" %>
      <%= link_to 'Editar', edit_asignacioncomite_path(asignacioncomite), :remote => true,
        :class => 'btn btn-warning btn btn-mini' %>
      <%= link_to 'Eliminar', asignacioncomite, 
        :data => { :confirm => 'Esta Seguro' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
      <%= link_to "Observacion", observaciones_path(:id => asignacioncomite.id), :remote => true, :class => 'btn btn-mini btn-info' %>
    <% end %>
  </td>
</tr>


