<%- model_class = Asignacioncomite -%>
<div class="buscador">
    <div class="row-fluid">
      <div class="row-fluid">
        <div class="span6">
          <%= form_tag request.path,:class=>"form-search", :id => "submit",  :method => 'get' do %>
            <%= content_tag :label do %>
             <h4>Buscador</h4>
              <div class="input-append" id='efecto1'>
                <%= text_field_tag :search, params[:search], :placeholder => "Nombre Aprendiz",:class=>"input-medium search-query search" %>
                <%= submit_tag "Consultar", :nombres => nil, :apellidos => nil, :class=>"btn btn-info disable" %>
              </div>
            <% end %>
          <% end %>

      </div>
        <div class=" colorp">
            
              <h4>Programacion Comite</h4>
            
              <% if @searc.empty? %>
                <p> N° de Registros: <%= "#{@asignacioncomites.count}" %> </p>
              <% elsif @asignacioncomites.count == 0 %>
                <p>No hay  resultados para: '<%= "#{@searc}"%>' </p>
              <% else %>
                <p> N° de Resultados de la Busqueda: <%= "#{@asignacioncomites.count}" %></p>
              <% end %>
            
        </div>
      </div>
    </div>
  </div>
<br>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Programa</th>
      <th>Ficha</th>
      <th>Estado</th>
      <th>Creado en</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <%= render @asignacioncomites %>
  </tbody>
</table>


<!--organizar el link de asignar a comite y hacer que pueda ingresar diferentes regostros-->

<% if has_role == "admin" %>
  <%= link_to 'asignar a programacio', asignar_path(:fcomite => @fcomite_estado), :remote => true, :class => 'btn btn-warning btn btn-mini', :id => 'env'  %>
<% end %>

<div align="center">
  <%= will_paginate @asignacioncomites, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
  &raquo;' %>
</div>
