<%- model_class = Configuracion -%>
<div class="page-header">
  <h1>Configuraciones pdf Cancelacion</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:subdirector) %></th>
      <th><%= model_class.human_attribute_name(:considerando) %></th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @configuraciones.each do |configuracion| %>
      <tr>
        <td><%= link_to configuracion.id, configuracion_path(configuracion) %></td>
        <td><%= configuracion.subdirector %></td>
        <td><%= configuracion.considerando %></td>
        <td>
          <% if has_role == "admin" %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_configuracion_path(configuracion), :class => 'btn btn-mini' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
